body {
  margin: 0 auto 0 auto;
  font-family: "Smythe", cursive;
  width: 700px;
  min-height: 1200px;
}

header {
  background-image: url("images/african-food.jpg");
  background-size: cover;
  background-position: center;
  width: 700px;
  height: 190px;
}

/* @media screen {
  min-width: 600px;
  max-width: 400px;
} */
main {
  width: 650px;
  height: 100vh;
  margin: auto 0;
}

.header-text {
  padding: 20px;
  color: navajowhite;
  text-shadow: #393333 gray;
}

/* shop items  */
.shop-item-line {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  border-bottom: solid #8b8b8b 1px;
}
.shop-item {
  display: flex;
  line-height: 0px;
}

.item-info {
  margin: 0px;
  padding: 0px;
}
.item-name {
  font-size: 20px;
  margin: 30px 0px 0px 0px;
}

.item-ingridients {
  /* // convert this to lowercase in the js file */
  font-size: 15px;
  color: #8b8b8b;
  margin: 5px 0px 0px 0px;
}

.item-price {
  font-weight: bold;
  margin: 10px 0px 0px 0px;
}

.emoji {
  margin-right: 30px;
}

.add-btn {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border: solid #8b8b8b 1px;
  background-color: white;
}

.add-btn:hover {
  background-color: gray;
  font-size: 35px;
  border: black solid 2px;
}

.add-btn:active {
  background-color: white;
  border: lightblue solid 2px;
}
/* shopping cart */

.your-order {
  font-size: 15px;
}

.cart-items {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding-right: 0px;
}

.dollar-sign-cart {
  font-size: 29px;
}

.cart-item-name {
  margin: 10px 0px 0px 0px;
}

.shopping-cart {
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}
/* change this to show the shopping cart */

.item-and-remove {
  display: flex;
  justify-content: space-between;
}

.render-cart-items {
  padding-bottom: 20px;
  border-bottom: 3px solid #393333;
}

.big-btn {
  background-color: #16db99;
  border-radius: 2px;
  border: none;
  color: white;
  width: 600px;
  padding: 10px;
}

.card-details {
  /* display: none; */
  width: 600px;
  box-shadow: 0px 0px 100px 10px black;
  background-color: #ffffff;
}
.form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 550px;
}

input {
  margin: 0px 0px 20px 0px;
  padding: 20px 0px 20px 30px;
  border-radius: 2px;
  border: solid gray 1px;
}

.card-details h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.order-complete-message {
  display: none;
  font-size: 40px;
  text-align: center;
  background-color: #ecfdf5;
  color: #065f46;
  padding: 30px;
  border-radius: 3px;
}
